
body {
  font-family: 'Akaya Telivigala', cursive;
}

.header {
  min-height: 10vh;
  background-color: black;
  display: flex; 
  justify-content: space-around;
  align-items: center;
}

.page-name {
  font-size: 32px;
  color: white;
}

.employees {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: stretch;
}

.employee {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin: 5px;
  padding: 5px 0;
  min-width: 1000px;
  background-color: rgba(0,0,0,0.05);
  border-radius: 1%;
}
.employee h5{
  margin-top: 20px;
  color: rgba(0,0,0, 0.5);
  max-width: 400px;
}

.employee-image {
  width: 250px;
  height: 250px;
}

.form-group label {
  display: block;
}

.form-group input {
  width: 100%;
  height: 40px;
  margin: 5px;
  padding: 3px 7px;
  font-size: 17px;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}